<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game of Life JS</title>

    <meta
      name="description"
      content="Game of Life implementation in TypeScript with Phaser"
    />
    <meta charset="utf-8" />
    <meta
      property="og:image"
      content="https://user-images.githubusercontent.com/9920336/175782465-8d6a2589-9931-4c86-9435-ac2b0964d81e.png"
    />

    <style>
      canvas {
        display: block;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -o-crisp-edges;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
      }

      #game-container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div id="game-container"></div>
  </body>
</html>
